extends layout.pug

block contenido
    .container
        // Barra superior con nombre de usuario y logout
        .d-flex.justify-content-end.align-items-center
            
            .d-flex.justify-content-end.align-items-center.mb-3
                span.me-3 Bienvenido: #{usuario.username}
                a.btn.btn-danger(href="/logout") Cerrar Sesión


        h1.text-center Bienvenido a la Agenda de Consultorios Médicos
        p.text-center Seleccione una opción a continuación:

        .row.mt-4
            if usuario.rol === 'Secretaria'
                .col-md-4
                    .card.card-hover.shadow-sm.border-0
                        .card-body.text-center
                            img(src="/imagenes/pacientes.jpg" alt="Icono de Pacientes" class="mb-3" width="80")
                            h5.card-title Pacientes
                            p.card-text Aquí puedes gestionar la información de los pacientes.
                            a(href="/pacientes/" class="btn btn-primary btn-lg w-100") Ir a Pacientes
                .col-md-4
                    .card.card-hover.shadow-sm.border-0
                        .card-body.text-center
                            img(src="/imagenes/calendario.jpg" alt="Icono de Agenda" class="mb-3" width="80")
                            h5.card-title Agenda
                            p.card-text Aquí puedes ver y gestionar las citas médicas para pacientes.
                            a(href="/agendas/" class="btn btn-primary btn-lg w-100") Ir a Agenda
            if usuario.rol === 'Administrador'
                .col-md-4
                    .card.card-hover.shadow-sm.border-0
                        .card-body.text-center
                            img(src="/imagenes/calendario.jpg" alt="Icono de Agenda" class="mb-3" width="80")
                            h5.card-title Agenda
                            p.card-text Aquí puedes ver y gestionar las citas médicas para pacientes.
                            a(href="/agendas/" class="btn btn-primary btn-lg w-100") Ir a Agenda

            if usuario.rol === 'usuario1'
                .col-md-4
                    .card.card-hover.shadow-sm.border-0
                        .card-body.text-center
                            img(src="/imagenes/doctores.jpg" alt="Icono de Doctores" class="mb-3" width="80") 
                            h5.card-title Doctores
                            p.card-text Aquí puedes gestionar la información de los doctores.
                            a(href="/doctores/" class="btn btn-primary btn-lg w-100") Ir a Doctores
