extends layout.pug

block contenido
    .container
        .row.justify-content-center.align-items-start.mt-4

            .col-md-6.text-center
                img(src="/imagenes/doc.jpg" alt="Doctores" class="img-fluid w-75")

            .col-md-5
                .card.shadow.p-4
                    .text-center
                        img(src="/imagenes/doctores.jpg" alt="Avatar" class="rounded-circle mb-3" width="80")
                        h2 CONSULTORIO MEDICO
                        h5.text-muted INICIAR SESIÓN

                    if success 
                        .alert.alert-success#success-message
                            | #{success}

                    if error
                        .alert.alert-danger
                            | #{error}
                    
                    form(method="POST" action="/login")
                        .form-group.mb-3
                            label.visually-hidden(for="username") Usuario
                            .input-group
                                span.input-group-text
                                    i.fas.fa-user
                                input#username.form-control(type="text" name="username" placeholder="Usuario" required)
                                
                        .form-group.mb-3
                            label.visually-hidden(for="password") Contraseña
                            .input-group
                                span.input-group-text
                                    i.fas.fa-lock
                                input#password.form-control(type="password" name="password" placeholder="Contraseña" required)
                                
                        .d-grid.mt-3
                            button.btn.btn-primary.btn-lg(type="submit") Iniciar Sesión
                    
                    .text-center.mt-3
                        a(href="/usuarios/crear" class="btn btn-success") Crear Usuario   

    script.
        setTimeout(() => {
            const mensaje = document.getElementById('success-message');
            if (mensaje) {
                mensaje.style.transition = 'opacity 1s';
                mensaje.style.opacity = '0';
                setTimeout(() => mensaje.remove(), 1000);
            }
        }, 3000);
