extends ../layout.pug

block contenido
    .container.mt-5
        a.btn.btn-secondary.mb-3(href="./")
                i.bi.bi-arrow-left.me-2
                | Volver


        .row.justify-content-center
            .col-md-8.col-lg-6
                .card.shadow
                    .card-header.bg-success.text-white.text-center
                        h4.mb-0 Crear Feriado

                    .card-body
                        if errores
                            .alert.alert-danger
                                ul.mb-0
                                    each error in errores
                                        li= error

                        form(action="/agendas/crearFeriado" method="post")
                            .mb-3
                                label.form-label(for="fecha") Fecha:
                                input.form-control(type="date", name="fecha", id="fecha", placeholder="Ej: 1990-01-01")
                            .mb-3
                                label.form-label(for="descripcion") Descripcion:
                                input.form-control(type="text", name="descripcion", id="descripcion", placeholder="Ej: Día del Trabajador")
                            

                            button.btn.btn-success.w-100(type="submit")
                                i.bi.bi-person-plus-fill.me-1
                                | Crear Feriado
