extends ../layout.pug

block contenido
    .container.mt-5
        a.btn.btn-secondary.mb-3(href="/doctores/")
                i.bi.bi-arrow-left.me-2
                | Volver

        .row.justify-content-center
            .col-md-8.col-lg-6
                .card.shadow
                    .card-header.bg-success.text-white.text-center
                        h4.mb-0 Agregar Doctor

                    .card-body
                        if errores
                            .alert.alert-danger
                                ul.mb-0
                                    each error in errores
                                        li= error

                        form(action="/doctores/" method="post")
                            .mb-3
                                label.form-label(for="nombre") Nombre Completo:
                                input.form-control(type="text", name="nombre", id="nombre", placeholder="Ej: Dra. María López")

                            .mb-3
                                label.form-label(for="telefono") Teléfono:
                                input.form-control(type="text", name="telefono", id="telefono", placeholder="Ej: 2664-XXXXXX")

                            .mb-3
                                label.form-label(for="dni") DNI:
                                input.form-control(type="text", name="dni", id="dni", placeholder="Ej: 30123456")

                            .mb-3
                                label.form-label(for="mail") Correo Electrónico:
                                input.form-control(type="text", name="mail", id="mail", placeholder="Ej: doctor@email.com")

                            .mb-3
                                label.form-label(for="domicilio") Domicilio:
                                input.form-control(type="text", name="domicilio", id="domicilio", placeholder="Ej: Av. San Martín 123")

                            button.btn.btn-success.w-100(type="submit")
                                i.bi.bi-person-plus-fill.me-1
                                | Agregar Doctor
