extends ../layout.pug

block contenido
    .container.mt-5
        a.btn.btn-secondary.mb-3(href="/pacientes/")
                i.bi.bi-arrow-left.me-2
                | Volver

        .row.justify-content-center
            .col-md-8.col-lg-6
                .card.shadow
                    .card-header.bg-success.text-white.text-center
                        h4.mb-0 Crear Paciente

                    .card-body
                        if errores
                            .alert.alert-danger
                                ul.mb-0
                                    each error in errores
                                        li= error

                        form(action="/pacientes/" method="post")
                            .mb-3
                                label.form-label(for="nombre") Nombre Completo:
                                input.form-control(type="text", name="nombre", id="nombre", placeholder="Ej: Juan Pérez")

                            .mb-3
                                label.form-label(for="dni") DNI:
                                input.form-control(type="text", name="dni", id="dni", placeholder="Ej: 30123456", required)


                            .mb-3
                                label.form-label(for="fechaNacimiento") Fecha de Nacimiento:
                                input.form-control(type="date", name="fechaNacimiento", id="fechaNacimiento", placeholder="Ej: 1990-01-01")

                            .mb-3
                                    label(for="sexo" class="form-label fw-semibold") Seleccionar Sexo
                                    select.form-select(name="sexo", required)
                                        option(value="") -- Selecciona un Sexo --
                                        option(value="masculino") Masculino
                                        option(value="femenino") Femenino
                                            

                            .mb-3
                                    label(for="obraSocial" class="form-label fw-semibold") Seleccionar Obra Social
                                    select.form-select(name="obraSocial", required)
                                        option(value="") -- Selecciona una Obra Social --
                                        option(value="PAMI") PAMI
                                        option(value="IOMA") IOMA
                                        option(value="OSDE") OSDE
                                        option(value="Swiss Medical") Swiss Medical
                                        option(value="Galeno") Galeno
                                        option(value="OSECAC") OSECAC
                                        option(value="DoSEP") DoSEP
                                        option(value="Osfatun") Osfatun
                                        option(value="Sancor Salud") Sancor Salud
                                        option(value="Medicus") Medicus
                                        option(value="No") No tiene
                                            
                                            

                            .mb-3
                                label.form-label(for="contacto") Teléfono:
                                input.form-control(type="tel", name="contacto", id="contacto", placeholder="Ej: 2664-XXXXXX")

                            button.btn.btn-success.w-100(type="submit")
                                i.bi.bi-person-plus-fill.me-1
                                | Crear Paciente
